body {
    font-family: "Segoe UI", Tahoma, Helvetica, freesans, sans-serif;
    font-size: 90%;
    margin: 10px;
    color: #333;
    background-color: #fff;
}

legend {
    font-weight: bold;
    color: #333;
}

pre.make_output {
    width: 95%;
    font-family: monospace;
    font-size: 0.9em;
    padding: 1px 2px;
    margin: 0 0 1em auto;
    border: 1px inset #666;
    background-color: #eee;
    overflow: auto;
}

#logout {
    float: right;
}

#messages {
    padding: 0 10px;
    margin: 1em 0;
    border: 1px solid #999;
}

#page_title {
    font-size: 1.6em;
    font-weight: bold;
    padding-bottom: 10px;
}

.clear {
    clear: both;
}

.description {
    font-size: .8em;
    font-style: italic;
}

.error {
    font-size: .9em;
    font-style: italic;
    color: red;
}

.header {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 8px;
}

.subheader {
    font-size: 1.0em;
    font-weight: bold;
    padding-bottom: 6px;
}

.faulink {
    color: blue;
    cursor: pointer;
}

.help {
    cursor: help;
    border-bottom: 1px dotted gray;
}

.nospace {
    margin: 0px;
    padding: 0px;
}

.clear {
    clear:both;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.result_image {
    border: 1px solid black;
}

#dropbox {
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
}

#dropbox.drop-hover {
    color: #f00;
    border-color: #f00;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
}