table.diff {
    font-family:Courier;
    border:medium;
}

.diff_header {
    background-color:#e0e0e0;
}

td.diff_header {
    text-align:right;
}

.diff_next {
    background-color:#c0c0c0;
}

.diff_add {
    background-color:#4DB84D;
}

.diff_chg {
    background-color:yellow;
}

.diff_sub {
    background-color:#FF4D4D;
}
